.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    min-width: 100%;
    max-height: 100vh;
    height: 100vh;
    min-height: 800px;
    position: relative;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  