.footer{
 
  
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    width: 100%;
    /* padding: 20px 0 20px 0; */
    height: 100px;
    /* position:fixed;
    bottom: 0; */
    
}
.footer ul {
  align-items: center;
  list-style: none;
  list-style: none;  
  display: flex;
  }
  .footer ul  li{
    padding: 15px;
    cursor: pointer;

    }
  
